<article class="project misc">

    <div class="projectContentContainer">
        {% if post.logo %}
        <div class="banner">
            <img class="previewLogo" src="/images/{{ post.folder }}/{{ post.logo }}">
        </div>
        {% endif %}

        <div class="headlineContainer">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <h2 class="typeOfProject">{{ post.typeOfProject }}</h2>
        </div>

        <div class="projectFaceContainer">
            <!--  Max 3 icons displayed -->
            <div class="projectLinks">
                {% if post.dribbble %}<a href="https://dribbble.com/{{ post.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
                {% if post.facebook %}<a href="https://www.facebook.com/{{ post.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
                {% if post.flickr %}<a href="https://www.flickr.com/{{ post.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
                {% if post.github %}<a href="https://github.com/{{ post.github }}"><i class="svg-icon github"></i></a>{% endif %}
                {% if post.instagram %}<a href="https://instagram.com/{{ post.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
                {% if post.linkedin %}<a href="https://www.linkedin.com/in/{{ post.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
                {% if post.pinterest %}<a href="https://www.pinterest.com/{{ post.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
                {% if post.twitter %}<a href="https://www.twitter.com/{{ post.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
                {% if post.stackoverflow %}<a href="http://stackoverflow.com/{{ post.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
                {% if post.youtube %}<a href="https://youtube.com/{{ post.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
            </div>
        </div>

        <div class="skillsAndTools">
            <ul>
                {% for skillOrTool in post.skillsAndTools %}
                <li>{{skillOrTool}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="projectArticleContainer">

            <div class="entry">
                {{ post.content | strip_html | truncatewords: 40 }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>

    </div>
</article>