---
layout: default
---

<article class="project">
  <div class="projectContentContainer">

    {% if page.banner %}<img src="/images/{{ page.folder }}/{{ page.banner }}"/>{% endif %}
    <div class="projectFaceContainer">
      <h1 class="typeOfProject">{{ page.typeOfProject }}</h1>
      <img class="previewLogo" src="/images/{{ page.folder }}/{{ page.logo }}">

      <!--  Max 3 icons displayed -->
      <div class="projectLinks">
        {% if page.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
        {% if page.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
        {% if page.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
        {% if page.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
        {% if page.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
        {% if page.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
        {% if page.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
        {% if page.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
        {% if page.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
        {% if page.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
      </div>
    </div>

    <div class="skillsAndTools">
      <ul>
        {% for skillOrTool in page.skillsAndTools %}
        <li>{{skillOrTool}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="projectArticleContainer">
      <div class="headlineContainer">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="entry">
        {{ content }}
      </div>
    </div>

  </div>
</article>
